[submodule "Software/ROS/src/livox_ros_driver_external_IMU"]
	path = Software/ROS/src/livox_ros_driver_external_IMU
	url = https://github.com/Camilochiang/livox_ros_driver_external_IMU
[submodule "Software/ROS/src/r3live"]
	path = Software/ROS/src/r3live
	url = https://github.com/Camilochiang/r3live
[submodule "Software/ROS/src/yolov5"]
	path = Software/ROS/src/yolov5
	url = https://github.com/Camilochiang/yolov5
[submodule "Software/ROS/r3live"]
	path = Software/ROS/r3live
	url = https://github.com/Camilochiang/r3live
